<div class="content" role="main">
    <div class="card highlight-card card-small">
      <h1>Finished Game</h1>
    </div>
    <span> <!-- Finished Game Buttons  -->
      <a><i class='fa fa-arrow-circle-down' style='font-size:24px'></i></a>
    </span>
    <span>
        <select name = "winner">
            <option value="" disabled selected>select</option>
            <option value = "A">Person A</option>
            <option value = "B">Person B</option>
        </select>
        <a><i style='font-size:24px' class='fas'>&#xf091;</i></a>
    </span>
    <span>
        <a><i class='fab fa-angellist' style='font-size:24px'></i></a>
    </span>

  </div> 