<p>game works! {{Game}} </p>
  <div> 
    <span>
      <a><i style='font-size:24px;display:inline;' class='fas'>&#xf304;</i></a>
      <a><i style='font-size:24px;display:inline;' class='fas'>&#xf1fc;</i></a>
      <a><i style='font-size:24px' class='fas'>&#xf53f;</i></a>
    </span>
  </div>
  <div id  ="sheet" >
    <ng-canvas-painter [color]=col></ng-canvas-painter>
  </div>
  <div class = "colors">
    <div class="toolBox" >
    <div (click)="changeColor()" style="background-color: yellow;"> </div>
    <div style="background-color: orange;"></div>
    <div style="background-color: red;"></div>
    <div style="background-color: violet;"></div>
    <div style="background-color: purple;"></div>
    <div style="background-color: blue;"></div>
    <div style="background-color: green;"></div>
  </div>
  </div>

