  <div class="content" role="main">
    <div class="card highlight-card card-small">
      <h1 *ngIf="state.create==true" >New Room</h1>
      <h1 *ngIf="state.join==true">Existing Rooms</h1>
      <h1 *ngIf="state.room==true">{{room.name}}</h1>
    </div>

    <div  *ngIf="state.create==true" id = "form" >
      <form (submit)="createRoom()" >
        <input class="inputs" type="text" name = "newRoom.name" [(ngModel)] = "newRoom.name" placeholder = "Enter room name.."><br>
        <input class = "inputs"  type = "number" min = "1" max = "4" step = "1" name = "newRoom.requiredPlayers" [(ngModel)] = "newRoom.requiredPlayers" placeholder = "2"><br>
        <span ><h4>
          <button type = "submit" style="background:transparent;border:none!important;" >
            Create
          </button>
          <i class="fa fa-arrow-circle-right" style="font-size:24px"></i>
        </h4></span>
      </form>
    </div>

    <div *ngIf="state.join==true" id = form>
      <form (submit) = "joinRoom(existingRoom.id)">
          <input class="inputs" type="text" name = "existingRoom.name" placeholder = "Enter room name..">
            <button type="submit" style="background:transparent;border:none!important;" >
            <i class="fa fa-arrow-circle-right" style="font-size:24px"></i>
          </button>
          
      </form>
      <table>
        <tr>
          <th>Name</th>
          <th>Join</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor = "let r of rooms">
          <td>{{r.name}}</td>
          <td><button (click) = "joinRoom(r._id)" class="fa fa-arrow-circle-right" style="font-size:24px"></button></td>
          <td><button  (click) = "deleteRoom(r._id)" class="fa" style="font-size:24px">&#xf0c4;</button></td>
        </tr>
      </table>
    </div>


    <div *ngIf="state.room==true" class="half" id ="right">
      <a><i class='far fa-clock' ></i></a>
        <a (click)="getLink()"><i style='font-size:24px' class='fas'>&#xf0c1;</i></a>
    </div>

  </div>






   




