  <div class="content" role="main">
    <div class="card highlight-card card-small">
      <h1 *ngIf="state.create==true" >New Room</h1>
      <h1 *ngIf="state.join==true">Existing Rooms</h1>
      <h1 *ngIf="state.room==true">{{room.name}}</h1>
    </div>

    <div  *ngIf="state.create==true" id = "form" >
      <form (submit)="createRoom()" >
        <input class="inputs" type="text" name = "newRoom.name" [(ngModel)] = "newRoom.name" placeholder = "Enter room name.."><br>
        <input class = "inputs"  type = "number" min = "1" max = "4" step = "1" name = "newRoom.requiredPlayers" [(ngModel)] = "newRoom.requiredPlayers" placeholder = "2"><br>
        <span ><h4>
          <button type = "submit" style="background:transparent;border:none!important;" >
            Create
          </button>
          <i class="fa fa-arrow-circle-right" style="font-size:24px"></i>
        </h4></span>
      </form>
    </div>

    <div *ngIf="state.join==true" id = form>
      <table>
        <tr>
          <th>Name</th>
          <th>Join</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor = "let r of rooms">
          <td>{{r.name}}</td>
          <td><button (click) = "joinRoom(r._id)" class="fa fa-arrow-circle-right" style="font-size:24px"></button></td>
          <td><button  (click) = "deleteRoom(r._id)" class="fa" style="font-size:24px">&#xf0c4;></button></td>
          <td><button  [routerLink]= "['/game', {room:r._id}]" class="fa" style="font-size:24px">game</button></td>
        </tr>
      </table>
    </div>

    <div *ngIf="state.room==true">
      <div class="half" id ="right">
        <a><i class='far fa-clock' ></i></a>
        <a (click)="getLink()"><i style='font-size:24px' class='fas'>&#xf0c1;</i></a>
        <button  [routerLink]= "['/game', {room:room._id}]" class="fa" style="font-size:24px">game</button>
      </div>
      <form (submit)="createPlayer()" >
        <input class="inputs" type="text" name = "newPlayer.name" [(ngModel)] = "newPlayer.name" placeholder = "Enter name"><br>
          <button type = "submit" >
            Create
          </button>    
      </form>
      <h6> Room's Players:  </h6>
      <div *ngFor="let p of room.players">{{ p.name }} </div> 
    </div>


  </div>






   




