<div class="content" role="main">
  <div class="card highlight-card card-small">
    <h1>Join Room</h1>
  </div>
    <form (submit) = "joinRoom()">
      <div class="card-container">
        <div>
          <input class="form-control" type="text" name = "existingRoom.name" placeholder = "Enter room name.."><br>
          <input class="form-control" type="text" name = "existingRoom.password" placeholder = "Enter room password..">
        </div>
        <a class="card" target="_blank" rel="noopener">
          <span><h4><button type="submit" style="background:transparent;border:none!important;" >Join</button><i class="fa fa-arrow-circle-right" style="font-size:24px"></i></h4></span>
        </a>
      </div>
    </form>
</div> 