<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- for icons see this source-->
<!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a (click)="returnHome()"><img src="assets/images/paint.jpg"/></a>
  <div class="spacer"></div>
  <i (click) = "showSettings()" style='font-size:24px' class='far'>&#xf059;</i>
</div>


<!-- <app-out (newItemEvent)="addItem($event)"></app-out>
  <h3>Parent component receiving value via @Output()</h3>
  <h4>{{room.name}}</h4>
  <ul>
    <li *ngFor="let r of room.players">{{r}}</li>
  </ul>
</div>
<app-test [item]="currentRoom"></app-test>  -->


<router-outlet></router-outlet>

