
<div class="content" role="main">
    <div class="card highlight-card card-small">
      <h1>Draw-Pass-Draw</h1>
    </div>
    <div class="card-container">
        <a class ="card" [routerLink]= "['/room', {state:'join'}]">
          <span><h4>
            <button style="background:transparent;border:none!important;">
              Join Existing Room
            </button>
            <i class="fa fa-arrow-circle-right" style="font-size:24px"></i>
          </h4></span>
        </a>
        <a class="card" [routerLink]= "['/room', {state:'create'}]">
        <span><h4 >
          <button style="background:transparent;border:none!important;">
          Create room
        </button><i style='font-size:24px' class='far'>&#xf580;</i></h4></span>
        </a>
    </div>  
</div> 
