<div class="content" role="main">
  <div class="card highlight-card card-small">
    <h1>Create Room</h1>
  </div>
  <div id = "form" >
    <form (submit)="createRoom()" >
      <div class="card-container">
            <input class="inputs" type="text" name = "newRoom.name" [(ngModel)] = "newRoom.name" placeholder = "Enter room name.."><br>
            <input class="inputs"  type="text" name = "newRoom.password" [(ngModel)] = "newRoom.password" placeholder = "Enter room password.."><br>
            <input class = "inputs"  type = "number" min = "1" max = "4" step = "1" name = "newRoom.game.requiredPlayers" [(ngModel)] = "newRoom.game.requiredPlayers" placeholder = "2"><br>
            <input class ="inputs"  type = "number" min = "1" max = "10" step = "1" name = "newRoom.game.rounds"  [(ngModel)] = "newRoom.game.rounds" placeholder = "5">
      </div> 
      <div class="card-container">
        <div class = "card" >
        <a target="_blank" rel="noopener">
         <span><h4><button type = "submit" style="background:transparent;border:none!important;" >Create</button><i class="fa fa-arrow-circle-right" style="font-size:24px"></i></h4></span>
        </a>
      </div>
      </div>
    </form>
  </div>
</div> 





